:root{
    z-index: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/img/image_7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden;
    position: fixed; */
}

header {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 7rem;
    margin: auto;
    border-radius: 20px;
    border:solid 6px black;
    border-left: double 6px black;
    border-right: double 6px black;
    border-top:solid 4px black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

h1 {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik Maps', system-ui;
    font-family: 'Yuji Hentaigana Akari', cursive;
    font-size: 3rem;
    font-weight:bolder;
}

main {
    margin: auto;
    width: 70vw;
    height: fit-content;
    margin-top: 2rem;
}

aside{
    box-sizing: border-box;
    background-color: hsla(0, 0%, 15%, 0.678);
    right: 100%;   
    top:0;
    bottom: 0;
    z-index: 100;
    position: fixed;
    right: 0;
}

button {
    position: absolute;
    left: -10;
    top: 45%;
    bottom: 45%;
    transform: translate(-50%,-50%);
    background-color: hsl(19, 100%, 18%);
}

.aside-clicked{
    width: 3vw;
    min-width: 250px;
}

footer{
    background-color: black;
}

.quote-div {
    background-color: hsla(0, 0%, 100%, 0.541);   
    display: flex; 
    
}