:root {
  z-index: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/image_7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  justify-self: center;
  /* overflow: hidden;
    position: fixed; */
}

header {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 50vw;
  height: 7rem;
  margin: auto;
  border-radius: 20px;
  border: solid 6px black;
  border-left: double 6px black;
  border-right: double 6px black;
  border-top: solid 4px black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  min-width: fit-content;
}

h1 {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Rubik Maps", system-ui;
  font-family: "Yuji Hentaigana Akari", cursive;
  font-size: 3rem;
  font-weight: bolder;
}

main {
  margin: auto;
  width: 70vw;
  height: fit-content;
  margin-top: 2rem;
  min-width: 300px;
}

aside {
  box-sizing: border-box;
  background-color: hsla(0, 0%, 15%, 0.678);
  right: 100%;
  top: 0;
  bottom: 0;
  z-index: 100;
  position: fixed;
  right: 0;
}

.aside-button {
  position: absolute;
  left: -10;
  top: 45%;
  bottom: 45%;
  transform: translate(-50%, -50%);
  background-color: hsl(19, 100%, 18%);
  -webkit-text-stroke: 1px rgb(165, 47, 0);
}

.aside-clicked {
  width: 3vw;
  min-width: 250px;
}

footer {
  background-color: black;
}

.quote-div {
  background-color: hsla(0, 0%, 100%, 0.541);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 65vw;
  margin: auto;
  border: solid hsl(0, 92%, 10%) 0.3rem;
  border-radius: 6px;
  min-width: 300px;
  backdrop-filter: blur(4px);
}

.quote-div > * {
  width: 90%;
  font-size: clamp(14px, 2vw, 24px);
  margin: 10px;
}

.author-p {
  margin-top: 20px;
  color: goldenrod;
  -webkit-text-stroke: 1px black;
}

.quote-p {
  font-family: "Sevillana", cursive;
  font-weight: 570;
}

.tags-p {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: bold;
}

.quote-tags-div {
  display: inline-block;
}

.tag-button {
  background-color: rgb(25, 51, 25);
  color: rgb(150, 131, 97);
  padding: 5px;
  border-radius: 5px;
}

.author-name {
  font-weight: 300;
  color: rgb(66, 27, 0);
  -webkit-text-stroke: 0;
}
